/* ============================
   BREAKPOINTS SCSS 
   ============================ */

@use "./mixins" as m;
@use "./variables" as var;

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .skills__content {
    grid-template-columns: max-content;
    row-gap: 1rem;
  }

  .services__card {
    padding-block: 1.5rem;
  }

  .skills__item {
    font-size: var(--h3-font-size);
  }

  .skills-icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .skills__container,
  .services__container,
  .projects__container,
  .contact__container {
    grid-template-columns: 450px;
    justify-content: center;
  }

  .skills__item {
    font-size: var(--h3-font-size);
  }

  .skills-icon {
    font-size: 2rem;
  }

  .skills__group {
    row-gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 55%;
  }

  .home__container,
  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__container {
    grid-template-columns: 680px;
    padding-block: 2.5rem 2rem;
  }

  .contact__form {
    row-gap: 1.5rem;

    & textarea {
      height: 17rem;
      margin-bottom: 0.8rem;
    }
  }

  .contact__group {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .contact__input {
    padding: 1.5rem;
  }

  .home__data,
  .skills__data,
  :is(.skills__data) :is(.section__subtitle, .section__title) {
    text-align: initial;
  }

  .home__social {
    justify-content: initial;
  }

  .about__data {
    order: 1;
  }

  .services__container,
  .projects__container {
    grid-template-columns: repeat(2, 352px);
  }

  .home__blob,
  .about__blob {
    width: 420px;
  }
}

@media screen and (min-width: 1023px) {
  .skills__container {
    grid-template-columns: 340px 425px;
    column-gap: 10rem;
  }

  .skills__description {
    margin-bottom: 3rem;
  }

  .skills__content {
    column-gap: 8rem;
  }

  .home__blob,
  .about__blob {
    width: 470px;
  }
  .section {
    padding-block: 7rem;
  }

  .projects {
    padding-block: 5rem;
    & .section__title {
      margin-bottom: 0.7rem;
    }
  }

  .projects__button {
    font-size: var(--normal-font-size);
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(#{var.$header-height} + 1.5rem);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    width: initial;
  }

  .footer {
    padding-block: 4.5rem 4rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: initial;
  }

  .footer__title {
    font-size: var(--bigger-font-size);
  }

  .footer__social {
    column-gap: 1.5rem;
  }

  .footer__copy {
    margin: 0;
    justify-self: end;
  }

  .scrollup {
    right: 2.5rem;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 520px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
  }

  .home__content {
    row-gap: 4.5rem;
  }

  .home__description {
    margin-block: 1.5rem 2.5rem;
  }

  .home__social {
    column-gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 550px 470px;
    column-gap: 4.5rem;
    padding-block: 1rem;
  }

  .about__description {
    margin-bottom: 3rem;
  }
  .home__blob,
  .about__blob {
    width: 550px;
  }

  .services__container {
    grid-template-columns: repeat(3, 352px);
    padding-block: 2.5rem 4rem;
  }

  .services__card {
    padding: 3.5rem 2rem;
  }

  .projects__container {
    grid-template-columns: repeat(3, 350px);
    padding-block: 2.5rem 4rem;
    row-gap: 3rem;
  }
}
