/* ============================
   HOME SCSS 
   ============================ */

@use "./mixins" as m;
@use "./variables" as var;

.home {
  background-color: var.$container-color;
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var.$font-semi-bold;
}

.home__description {
  margin-block: 1rem 1.5rem;
}

.button {
  display: inline-block;
  @include m.background(var.$first-color-alt, var.$title-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var.$font-medium;
  transition: all 0.6s;

  &:hover {
    box-shadow: 0 8px 24px hsla(var.$hue, 100%, 40%, 0.25);
    @include m.background(var.$title-color, var.$first-color-alt);
  }
}

.home__social {
  @include m.flexbox();
  column-gap: 1.25rem;
}

.home__social-link {
  display: flex;
  @include m.background(var.$first-color-alt, var.$title-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.4s;

  &:hover {
    transform: translateY(-0.25rem);
    @include m.background(var.$title-color, var.$first-color-alt);
  }
}

.home__subtitle span,
.home__title {
  color: var.$first-color;
}

.home__image {
  justify-self: center;
}

.home__blob {
  width: 330px;
  fill: var.$first-color-alt;
  filter: drop-shadow(0 12px 12px hsla(var.$hue, 100%, 40%, 0.2));
}
