/* ============================
   SERVICES SCSS 
   ============================ */

@use "./mixins" as m;
@use "./variables" as var;

.services__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.services__card {
  text-align: center;
  background-color: var.$container-color;
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.375);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 0.4s;

  &:hover {
    border: 1px solid var.$first-color;
  }
}

.services__icon {
  display: block;
  font-size: 4rem;
  color: var.$first-color;
  margin-bottom: 0.75rem;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}
